<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Test Technique {% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/app.css">
        {% block stylesheets %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ path('home') }}"><img src="https://www.yeah-communication.com/logo-yeah.svg" alt="Yeah Communication" id="logo" data-height-percentage="95" data-actual-width="0" data-actual-height="0" width="93" height="43"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('home') }}">Accueil                        
                        </a>
                    </li> 
                    <li class="nav-item ">
                        <a class="nav-link" href="{{ path('search_articles')}}">Articles                        
                        </a>
                    </li> 
                </ul>
               
            </div>
        </nav>       
        {% block body %}           
        {% endblock %}
        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>  
        <script src="/js/javascript.js"></script>  
    </body>
</html>